<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894823797650-9tatsja12p3g3747q2sb5320oor72403.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894823797650-9tatsja12p3g3747q2sb5320oor72403</string>
	<key>API_KEY</key>
	<string>AIzaSyDlSVZO1tkiznbJpppJKrFjnWUlXIFUk1M</string>
	<key>GCM_SENDER_ID</key>
	<string>894823797650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.penginmura.swiftevolutionbrowser</string>
	<key>PROJECT_ID</key>
	<string>swift-evolution-browser</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-evolution-browser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894823797650:ios:015fa92f6b2411938c274b</string>
</dict>
</plist>